

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ubuntu sans-serif";
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "ubuntu sans-serif";
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "ubuntu sans-serif";
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
    font-weight: 400;
}

*{
    @apply font-ubuntu
}

.article_style {
   @apply flex-col mx-auto p-4 w-full col-span-2
}

.marine-btn{
    @apply bg-marineBlue px-4 py-2 rounded-md text-lightGray font-bold text-sm
}